.game-header {
	font-family: Courier New;
	text-transform: uppercase;
	color: #aaa;
	-webkit-text-shadow: 2px 2px 2px #555;
	text-shadow: 2px 2px 2px #555;
}

.menu-option {
	display: inline-block;
	margin: 10px;
	clear: both;
}

.game-menu {
	width: 500px;
	text-align: center;
}
