
label, option, input {
    font-weight: normal !important;
}

.game-board {
    canvas {
        background-color: green;
        display: block;
    }
}

.asset {
    display: none;
}
.counter {
    width: 90px;
    float: left;

    .icon {
        float: left;
        margin-top: 4px;
        padding-right: 10px;
    }

    .label {
        float: left;
        font-size: 28px;
        font-family: Consolas;
        color: #3AD900;
        background: none !important;
        font-weight: bold;
        padding: 12px;
    }
}

.color-selectors .color-selector,.color-selectors .background-color-selector {
    width: 25px;
    height: 25px;
    border: solid 1px grey;
    float: left;
    margin: 10px;
}

.game-chrome {
    padding-left: 20px;
    width: 562px;
    text-align: center;
}

.clear-fix {
    clear: both;
}

.game-scroll-pane {
    width: 512px;
    height: 512px;
    overflow: hidden;
    float: left;
}

.map-slider {
    float: left;
    height: 512px;
}

select {
    background-color: #222222;
    border: none;
    display: inline;
    width: 180px;
    height: 40px;
    color: white;
    margin: 2px;

}
label {
    width: 70px;
    margin: 2px;
}
label.long {
    width: 100px;
}
input {
    color: white;
    font-weight: bold;
    background-color: #222222;
    border: none;
    height: 32px;
    margin: 2px;
    padding-left: 4px;
}
button{
    margin: 4px 2px 2px 2px;

}

input.number
{
    width: 60px;
}

.game-selector
{
    width: 650px;
    margin: 20px;
}

.btn-right{
    float: right;
}

.red-tooltip + .tooltip > .tooltip-inner {background-color: #E74C3C;}
