body {
    background-color: #002240;
}

.game-board {
    canvas {
        background-color: green;
        display: block;
    }
}

.asset {
    display: none;
}
.counter {
    width: 90px;
    float: left;

    .icon {
        float: left;
        margin-top: 4px;
        padding-right: 10px;
    }

    .label {
        float: left;
        font-size: 28px;
        font-family: Consolas;
        color: #3AD900;
        background: none !important;
        font-weight: bold;
        padding: 12px;
    }
}

.color-selectors .color-selector,.color-selectors .background-color-selector {
    width: 25px;
    height: 25px;
    border: solid 1px grey;
    float: left;
    margin: 10px;
}

.game-chrome {
    padding-left: 20px;
    width: 562px;
    text-align: center;
}

.clear-fix {
    clear: both;
}

.game-scroll-pane {
    width: 512px;
    height: 512px;
    overflow: hidden;
    float: left;
}

.map-slider {
    float: left;
    height: 512px;
}

.game-selector {

    line-height: 32px;
    label {
        display: inline;
        color: #3AD900;
        margin-top: 5px;
    }

    select {
        display: inline;
        margin-top: 9px;
        color: #3AD900;
        border: solid 1px #0088FF;
        background-color: #002240;
        width: 180px;
    }
}
